@model HTTP_5101_Cumulative_Project.Models.Course
@{
    ViewBag.Title = "Show";
}
<nav>
    <a class="link" href="/Course/List">Back to Courses</a>
    <a class="dellink" href="/Course/DeleteConfirm/@Model.CourseId">Delete Course</a>
</nav>

<div class="more-data">
    <h2>Course: @Model.CourseName</h2>
    <p>Course Code: @Model.CourseCode.ToUpper() </p>
    <p>Start Date: @Model.StartDate.ToString("dddd, MMMM dd, yyyy")</p>
    <p>Finish Date: @Model.FinishDate.ToString("dddd, MMMM dd, yyyy")</p>

    
</div>

<a class="uplink" href="/Course/Update/@Model.CourseId">Update Course</a>