@model IEnumerable<HTTP_5101_Cumulative_Project.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div>
    <a class="link" href="/Teacher/New">Add New Teacher</a>
</div>

<h2>Teachers</h2>
<p>This pages shows a list of information of all teachers</p>

<form class="search" action="/Teacher/List" method="get">
    <input type="text" name="SearchKey" placeholder="Enter a name here..." />
    <input type="submit" value="Search!" />
</form>

<span >@Model.Count() Result(s) Found</span>

<div>
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div> <a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
    }
</div>
