body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.link {
    text-align: right;
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 20px;
    float: right;
}
.dellink {
    text-align: right;
    margin-top: 30px;
    margin-left: 10%;
    margin-bottom: 20px;
    float: left;
    color: red;
}
.deleteBtn {
    margin: 0 auto;
    display: block;
    background-color: red;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    border: none;
    font-weight:500;
}
.deleteBtn:hover{
    background-color:darkred;
    color:white;
}
label{
    padding-right: 20px;
}
input[type=text] {
    width: 20%;
}
#submitBtn{
    margin-top:20px;
}
.more-data{
    margin-top:20px;
    width: 80%;
    margin: auto;
}

h2{
    margin-top: 90px;
}