@model HTTP_5101_Cumulative_Project.Models.Student
@{
    ViewBag.Title = "DeleteConfirm";
}
<nav>
    <a class="link" href="/Student/Show/@Model.StudentId">Go Back</a>
</nav>

<h2>Are you sure you want to delete this teacher?</h2>
<p>@Model.StudentFname @Model.StudentLname</p>

<p>This cannot be undone!</p>
<form method="post" action="/Student/Delete/@Model.StudentId">
    <input type="submit" style="margin: 0 auto; display: block;" value="Delete Student"/>
</form>
