@model IEnumerable<HTTP_5101_Cumulative_Project.Models.Student>
@{
    ViewBag.Title = "List";
}

<div>
    <a class="link" href="/Student/New">Add New Student</a>
</div>

<h2>Students</h2>
<p>This pages shows a list of information of all students</p>

<form id="search" action="/Student/List" method="get">
    <input type="text" name="SearchKey" placeholder="Enter a name here" />
    <input type="submit" value="Search!" />
</form>
<span>@Model.Count() Result(s) Found</span>

<div>
    <h2>List of Students</h2>
    @foreach (var student in Model)
    {
        <div> <a href="/Student/Show/@student.StudentId">@student.StudentFname @student.StudentLname</a></div>

    }
</div>



