
@{
    ViewBag.Title = "New";
}
<nav>
    <a class="link" href="/Student/List">Back to Students</a>
</nav>

<h2>New Student</h2>
<p>Enter the information for a new student</p>
<form method="post" action="/Student/Create" name="addStudent">
    <div>
        <label>Student's First Name: </label>
        <input type="text" name="StudentFname" id="fname" />
        <span id="errorFname"></span>
    </div>
    <div>
        <label>Student's Last Name: </label>
        <input type="text" name="StudentLname" id="lname" />
        <span id="errorLname"></span>
    </div>
    <div>
        <label>Student Number: </label>
        <input type="text" name="StudentNum" id="studentNo" />
        <span id="errorStudentNo"></span>
    </div>
    <div>
        <input type="submit" value="Add Student" id="submitBtn" />
    </div>

</form>

@* Comment goes here

   <script defer>
   var studentForm = document.forms.addStudent;

   var Fname = document.querySelector("#fname");
   var Surname = document.querySelector("#lname");
   var StudentNo = document.querySelector("#studentNo");
   var submit = document.querySelector("#submitBtn");

    submit.onclick = function validStudent() {
        if (Fname.value == "" || Fname.value !== ) {
            document.querySelector("#errorFname").innerHTML = "Please enter a valid first name!";
                return false;

        } else if (Surname.value == "" || Surname.value !==) {
            document.querySelector("#errorLname").innerHTML = "Please enter a valid last name!";
                return false;

       } else if (StudentNo.value == "" || StudentNo.value ==null) {
            document.querySelector("#errorStudentNo").innerHTML = "Please enter a valid 5-digit student number!";
                return false;

       } else {
            return true;
   
        }
   };

    </script>

*@

